In [1]:
import pandas as pd
from src.utils.helper import init_engine_sqlalchemy

In [2]:
conn = init_engine_sqlalchemy()

conn

Engine(postgresql://postgres:***@localhost:5434/invoice_db)

In [3]:
data = pd.read_sql(sql = "select * from invoice_table",
                       con = conn)

data

,id_invoice,nama,email,phone,apparel_package,apparel_size,qty,address,shipping_cost,due_date,total_price,is_paid,created_at
0,2,test bundle package,budle@test.com,90239012,Bundle Gothic and Ayyis,XXL,4.0,jalaran sadrah kita adalah pameran,15000.0,2025-01-28,1155000.0,False,2025-01-24 17:42:58.095844
1,1,test tepe,tepe@test.com,1092301293,Ayyis Dino,XL,2.0,jalan kenangan,20000.0,2025-01-30,320000.0,True,2025-01-24 17:08:24.622822

In [4]:
conn.dispose()

In [5]:
data = data.loc[data["nama"] == "test bundle package"]

data = data.iloc[0]

data

id_invoice                                          2
nama                              test bundle package
email                                  budle@test.com
phone                                        90239012
apparel_package               Bundle Gothic and Ayyis
apparel_size                                      XXL
qty                                               4.0
address            jalaran sadrah kita adalah pameran
shipping_cost                                 15000.0
due_date                                   2025-01-28
total_price                                 1155000.0
is_paid                                         False
created_at                 2025-01-24 17:42:58.095844
Name: 0, dtype: object

In [8]:
data["due_date"].strftime('%Y-%m-%d')

'2025-01-28'

In [98]:
data["created_at"].date().strftime('%Y-%m-%d')

'2025-01-23'

In [79]:
invoice_data = {
    "title": "Doruken Invoice Ayyis",
    "invoiceNumber": str(data["id_invoice"]),
    "issueDate": data["created_at"].date().strftime('%Y-%m-%d'),
    "dueDate": "2025-01-28",
    "status": data["is_paid"],
    "client": {
        "firstName": data["nama"],
        "lastName": "",
        "phoneNumber": data["phone"],
        "address": {
            "city": data["address"],
            "country": ""
        },
        "discordUsername": ""
    },
    "server": {
        "logo": "assets/logo_kop.png",
        "companyName": "KLM (Kita Lawan Mereka)",
        "firstName": "Tepe",
        "lastName": "",
        "address": {
            "city": "Pasar Minggu, Jakarta",
            "country": ""
        },
        "discordUsername": "shandytp"
    },
    "itemList": [
        {
            "item": data["apparel_package"],
            "notes": data["apparel_size"],
            "qty": str(data["qty"]),
            "total": str(data["total_price"])
        },
        {
            "item": "Shipping to Ubud, Bali",
            "notes": "Approx. je",
            "qty": "1 kg",
            "total": 50000
        }
    ],
    "terms": [
        "Jika ada sumur di Ladang, jangan lupa bikin Onsen.",
        "Support UMKM Virtual ini.",
        "Bang plis suruh Ado konser di Indonesia :c"
    ]
}

In [80]:
invoice_data

{'title': 'Doruken Invoice Ayyis',
 'invoiceNumber': '1',
 'issueDate': '2025-01-23',
 'dueDate': '2025-01-28',
 'status': np.False_,
 'client': {'firstName': 'test tepe',
  'lastName': '',
  'phoneNumber': '01923012',
  'address': {'city': 'letwewew', 'country': ''},
  'discordUsername': ''},
 'server': {'logo': 'assets/logo_kop.png',
  'companyName': 'KLM (Kita Lawan Mereka)',
  'firstName': 'Tepe',
  'lastName': '',
  'address': {'city': 'Pasar Minggu, Jakarta', 'country': ''},
  'discordUsername': 'shandytp'},
 'itemList': [{'item': 'Ayyis Dino',
   'notes': 'L',
   'qty': '1.0',
   'total': '150000.0'},
  {'item': 'Shipping to Ubud, Bali',
   'notes': 'Approx. je',
   'qty': '1 kg',
   'total': 50000}],
 'terms': ['Jika ada sumur di Ladang, jangan lupa bikin Onsen.',
  'Support UMKM Virtual ini.',
  'Bang plis suruh Ado konser di Indonesia :c']}

In [99]:
invoice_data.get("invoiceNumber")

'1'